body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.PokemonButton {
  border-radius: 50%;
  display: inline-block;
  width: 96px;
  height: 96px;
  margin: 3px;
  text-align: center;
  font-size: 10pt;
  text-transform: uppercase;
  font-size: 12px;
}

/*TYPES*/
.Type {
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-shadow: 0.5px 0.5px black;
  font-size: 28px;
  text-align: center;
  margin-bottom: 3px;
}

.StatBar {
  height: 15px;
  width: 230px;
  display: inline-block;
  
}

.StatBar > span {
  display: block;
  height: 100%;
  border-radius: 3px;
}

.StatBar-low {
  background: #DC4B5F;
}

.StatBar-medium-low {
  background: #faa056;
}

.StatBar-medium {
  background: #f9fa56;
}

.StatBar-medium-high {
  background: #aefa56;
}

.StatBar-high {
  background: #5de533;
}

.StatBar-very-high {
  background: #33e5ab;
}

.PaginationButtonGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.PaginationButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.PaginationButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.PaginationButtonPrevious {
  grid-column-start: 1;
  grid-column-end: 2;
}


.PaginationButtonNext {
  grid-column-start: 3;
  grid-column-end: 4;
}



.PokemonStats-list {
  list-style: none;
  padding: 0;
  text-align: right;
}

.normalType {
  background: #d1d2d3;
}

.fireType {
  background: #ff8c35;
}

.waterType {
  background: #34b4ff;
}

.electricType {
  background: #f0f731;
}

.grassType {
  background: #65f730;
}

.fightType {
  background: #65f730;
}

.poisonType {
  background: #aa5dcc;
}

.groundType {
  background: #d6ba57;
}

.flyingType {
  background: #57add6;
}

.psychicType {
  background: #ff7aef;
}

.bugType {
  background: #b3ce52;
}

.rockType {
  background: #baa24c;
}

.ghostType {
  background: #4757bc;
}

.dragonType {
  background: #8266ff;
}

.steelType {
  background: #e0e0e0;
}

.darkType {
  background: #3d1f00;
}


.fairyType {
  background: #ffbaf8;
}

/*media queries*/
@media (min-width: 1200px){
  #root {
    max-width: 992px;
    margin: 0 auto;
  }
  .Type {
    width: 180px;
    
  }
}