body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.PokemonButton {
  border-radius: 50%;
  display: inline-block;
  width: 96px;
  height: 96px;
  margin: 3px;
}

@media (min-width: 1200px){
  #root {
    max-width: 992px;
    margin: 0 auto;
  }
}

/*TYPES*/

.Type {
  /* estilos base */
}

.normalType {
  background: #d1d2d3;
}

.fireType {
  background: #ff8c35;
}

.waterType {
  background: #34b4ff;
}

.electricType {
  background: #f0f731;
}

.grassType {
  background: #65f730;
}

.fightType {
  background: #65f730;
}

.poisonType {
  background: #aa5dcc;
}

.groundType {
  background: #d6ba57;
}

.flyingType {
  background: #57add6;
}

.psychicType {
  background: #ff7aef;
}

.bugType {
  background: #b3ce52;
}

.rockType {
  background: #baa24c;
}

.ghostType {
  background: #4757bc;
}

.dragonType {
  background: #8266ff;
}

.steelType {
  background: #e0e0e0;
}

.darkType {
  background: #3d1f00;
}


.fairyType {
  background: #ffbaf8;
}